body, html
{
    padding: 0;
    margin: 0;
 
}
h1, h2, h3, h4, p
{
    font-family: 'Raleway', sans-serif;
    color: #fff;
}
p
{
    font-family: 'Raleway', sans-serif;
    color: black;
}
ul
{
    list-style: none;
    display: flex;
}

/*--Section 1 & header--*/
.moutainsFond
{

    background-image: url("Waxom_Free_PSD_Template/images/fondMontains.png");
    height: 1019px;
    
}
.monNavigation
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 38px;
    color: #fff;
}
.logo
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo h2
{
    display: flex;
    flex-direction: row;
   
}
.navigation 
{
    display: flex;
    flex-direction: row;
    align-items: center;
  
 
}
.navigation li
{
    display: flex;
    flex-direction: row;
   
    flex-wrap: wrap;
    margin-left: 20px;
}
.blockUn
{
    margin: 230px auto;
    text-align: center;

}
.blockUn h2
{
   font-size: 36px;
   

}
.blockUn h1
{
   font-size: 52px;
    

}
.blockUn p
{
    font-size: 16px;
    color: #fff;

}
.buttonMarron
{
    padding:10px 30px;
    background-color: rgb(153, 134, 117);
    border: none;
    color: #fff;
    font-weight: bold;    
    font-size: 14px;
    border-radius: 2px;
    box-shadow: 2px 2px rgb(131, 114, 100);
    margin: 10px;
    
    /*transition: all 400ms easy;*/
}



/*.buttonMarron:hover
{
    transform:scale(1.5);
}*/

/*--Aside--*/

.asideUn
{
    height: 371px;
    align-items: center;
    display: flex;
    text-align: center;
}
.asideUnUn ul
{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    text-align: center;
   
}
.aside li
{
    
    text-align: center;
    margin-left: 20px;
    display: block;
    
}
.asideUn h4
{
    margin-top: 10px;
    color: black;
}
.asideUn p
{
   font-size: 14px;
   
}
/*--SECTION 2 FOND BEIGE--*/
.secDeuxfondBeige
{
    background-color: rgb(251, 250, 248);
    height: 700px;
}
.blockDeux
{
    color: #000;
    text-align: center;
    padding: 83px;
}
.blockDeux h2
{
    color: #000;
    text-align: center;
    
}
.imgNavigation
{
    display: flex;
    clear: both;
}
/*--Aside 2 Dégradé--*/
.fondDegrade
{
    background-image: url("Waxom_Free_PSD_Template/images/BackgroundBrown.png");
    height: 144px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.blockQuatre
{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
 
}
.blockQuatre p
{
    display: flex;
    color: rgb(139, 121, 106)

}
.fondDegrade .buttonMarron
{
    padding:10px 30px;
    background-color: rgb(153, 134, 117);
    border: none;
    color: #fff;
    font-weight: bold;    
    font-size: 14px;
    border-radius: 2px;
    box-shadow: 2px 2px rgb(131, 114, 100);
    
}
/*--Article 1--*/

.project
{
    text-align: center;
    color: black;
    margin: 70px 0 40px 0;
}
.project h4
{
    color:black;
    margin-bottom: 20px;
    
    
}
.miniMenu
{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.miniMenu a
{
    
    display: block;
    margin-left: 30px;
    border: 1px solid rgb(32, 32, 32);
    padding: 2px 10px;
    border-radius: 5px;
    
    
}
.halfTriangle
{
    margin-left: 20px;
    margin-top: -10px;
    height: 40px;
    width:40px;
    background: #fff;
    transform: rotate(45deg); 
   
 
}
.rec 
{
    
    display: column;
    background-color: #fff;
    height: 78px;
    width: 370px;
    margin-bottom: 37px;
    padding: 15px;
    transform: all 300ms ease-in-out;
}
.rectria:hover
{
    background-color: rgb(144, 127, 113);

}
.rec:hover
{
    background-color: rgb(144, 127, 113);

}
.rec h5
{
    font-size: 20px;
    color: rgb(144, 127, 113);
}
.rec p 
{
    font-size: 15px;
    color: rgb(209, 209,209);
    font-weight: 100px;
    
}
.loadButton
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px 0 60px 0;
}




/*--Section 3 LECTURE--*/

.imageVideo
{
    background-image: url("Waxom_Free_PSD_Template/images/video.png");
    height: 705px;
}
.blockTextVideo
{
    text-align: center;
    color: #fff;
    padding: 209px;
}
.blockTextVideo .play
{
    
    padding-bottom: 20px;
    
}
.blockTextVideo h4
{
    
    padding-bottom: 5px;
    
}
.blockTextVideo p
{
    
    color: #fff;
    
}

